<template>
  <button class="card__button">
    <span class="card__button-name">Купить</span>
  </button>
<!--  <div>button</div>-->
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.card {

  &__button {
    display: inline-flex;
    padding: 6px 38px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    background: var(--unnamed, #3278FF);
    border: none;

    &-name {
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px; /* 110% */
      letter-spacing: -0.4px;
      color: var(--unnamed, #FFF);
      text-align: center;
      font-feature-settings: 'calt' off;

    }
  }
}
</style>
