<template>
  <main class="main">
    <CardProduct :src_img="require('../img/skyrim.png')" name_title="Skyrim. История создания великой игры" name_author="Франк Экстанази"/>
    <CardProduct :src_img="require('../img/search_and_promotion_site.png')" name_title="Поисковое продвижение сайтов" name_author="Сергей Анисимов"/>
    <CardProduct :src_img="require('../img/english_for_disigner.png')" name_title="Английский для дизайнеров" name_author="Татьяна Магарина"/>
    <CardProduct :src_img="require('../img/design_and_color.png')" name_title="Дизайн и цвет. Практикум" name_author="Шон Адамс"/>
  </main>
</template>

<script>
import CardProduct from '@/components/cardproduct/CardProduct.vue'
export default {
  name: 'CardProducts',
  components: {
    CardProduct
  }
}
</script>

<style lang="scss" scoped>
.main  {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 26px;
  height: calc(100vh - 63px);
}
</style>
