<template>
  <TheHeader />
  <TheMain />
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import TheHeader from '@/components/heder/TheHeader.vue'
import TheMain from '@/components/main/TheMain.vue'
export default {
  name: 'Home_header',
  components: {
    TheHeader,
    TheMain
  }

}
</script>

<style lang="scss" scoped>

</style>
