<template>
  <div class="card">
    <img :src='src_img' alt="" class="card__preview">
    <div class="card__text">
      <h3 class="card__title"> {{name_title}} </h3>
      <p class="card__author">{{name_author}}</p>
    </div>
    <TheButton/>
  </div>
</template>

<script>
import TheButton from '@/components/button/TheButton.vue'
export default {
  components: {
    TheButton
  },
  props: {
    name_title: {
      type: String,
      default: 'Тайтл не заполнен'
    },
    name_author: {
      type: String,
      default: 'Текст саб-тайтл не заполнен'
    },
    src_img: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 30px 24px 30px;
  width: 330px;
  height: 490px;

  text-align: center;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.30);

  border-radius: 10px;
  background: var(--, #FFF);

  &__title {
    color: var(--, #000);
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__author {
    color: var(--, #000);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__preview {
    width: 200px;
    height: 274px;
    flex-shrink: 0;
  }
}
.card__text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding-bottom: 14px;
}
</style>
