<template>
  <header class="header">
    <LogoIcon />

    <a href="tel:+79876543210" class="header-tel">+7 (987) 654 32 10</a>
  </header>
</template>

<script>
import LogoIcon from '@/components/icon/LogoIcon.vue'
export default {
  // name: 'LogoIcon',
  components: {
    LogoIcon
  }
}
</script>

<style lang="scss" scoped>
.header{
  padding: 13px 70px;
  background: #3278FF;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-tel {
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    color: aliceblue;
  }
}

</style>
